# Ignore All
/*

# Except:

# Sources
!/src

# github
!/.gitignore
!/README.md

# gradle
!/build.gradle
!/settings.gradle
!/gradle.properties
!/gradlew*

# checkstyle
!/checkstyle*.xml

# Travis
!/.travis.yml
