# NOVA Access Transformer configuration file

# Gui
public net.minecraft.client.gui.Gui func_73733_a(IIIIII)V # drawGradientRect

# GuiContainer
public net.minecraft.client.gui.inventory.GuiContainer field_147006_u # theSlot
public net.minecraft.client.gui.inventory.GuiContainer func_146977_a(Lnet/minecraft/inventory/Slot;)V # drawSlot
